body{
    margin: 0;
    padding: 0;
}
.wrapper{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 9fr 1fr;
    text-align: center;
    justify-content: center;
    height: 100vh;
    font-size: 200%;
}
.hero{
    display: grid;
    grid-template-columns: 18% 60% 22%;
    width: 100vw;
}
.header{
    display: grid;
    align-items: center;
    grid-column: span 3;
    background: lime;
}
.leftmenu{
    background: yellow;
}
.content{
    text-align: center;
    background: orange;
}
.chat{
    display: grid;
    grid-template-rows: 10% 90%;
    align-items: center;
    background: darkgreen;
}
.chat > h2{
    position: relative;
    top: 80%;
}
.chat > .ps > p{
    font-size: .5em;
    text-align: left;
    background: skyblue;
    border-radius: 20px;
    padding: .2em 1em;
    margin: 1em;
}
.footer{
    display: grid;
    align-items: center;
    background: purple;
    grid-column: span 3;
}